@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: a5;
    margin: 0;
    padding: 0;
  }

  @page a4 {
    size: a4 landscape;
  }
}

.v-certificates_certificate {
  background-color: transparent;
  color-adjust: exact;
  height: 100%;
  padding: 0;
  margin: 0;
}


.certificates-double {
  page: a4;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.certificate {
  padding: 1cm;
  display: grid;
  grid-template-columns: 4cm auto;
  grid-template-rows: 4cm 1fr auto auto;
  column-gap: 7.5mm;
  row-gap: 2.5mm;
  height: 100vh;

  &__group {
    background-color: var(--group-color, var(--primary-500));
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 85%;
      height: 85%;
      filter: brightness(0) invert(1);
      object-fit: contain;
      object-position: center;
    }
  }

  &__title {
    color: var(--group-color, var(--primary-500));
    font-size: 35pt;
    line-height: 31pt;
    letter-spacing: -1.7pt;
    font-weight: var(--headline-weight);
    font-family: var(--headline-family);
    align-self: end;
    margin-bottom: 5mm;
    text-wrap: balance;
  }

  &__image {
    background-size: cover;
    background-position: center;
    grid-column: 1;
    height: 100%;
  }

  &__logo {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 12mm;
    }

    &--invert {
      background-color: var(--site-color);
      padding: 2.5mm;
    }
  }

  &__main {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid transparent;
  }

  &__footer {
    grid-column: 2;
    grid-row: 3/5;

    margin-top: 1.5mm;

    display: grid;
    gap: 4mm;

    &__main {
      grid-column: 1/3;
    }
  }

  &__byline, &__date {
    font-size: 8pt;
    line-height: 4mm;
    height: 4mm;
    text-align: center;
    font-weight: var(--accent-weight);

    strong {
      font-weight: bold;
    }
  }

  &__name {
    height: 9mm;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name, &__signatures {
    font-size: 11pt;
    line-height: 10pt;
    font-weight: bold;
    color: var(--group-color);
    text-align: center;

    p:not(:last-child) {
      margin-bottom: .25em;
    }

    &--empty {
      background-color: var(--group-color);
      opacity: 20%;
    }
  }

  &__signatures-section {
    display: flex;
    flex-direction: column;
  }

  &__signature-line {
    font-size: 8pt;
    line-height: 4mm;
    margin-bottom: 0.5mm;
    text-align: center;
  }

  &__signatures--managers {
    height: 36mm;
  }

  &__signatures--priest {
    height: 7mm;
  }

  &__parent-logo {
    margin-left: auto;
    margin-top: auto;
    max-width: 85%;
    max-height: 22mm;
  }
}
